<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Sept 16)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Sept 17)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 (Sept 21)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with Python #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 4 (Sept 22)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with Python #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 5 (Sept 23)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with Python #3</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
     <div class="col-md-6">
    <h3>Day 6 (Sept 24)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Building Programs with Python #4</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 6 (Sept 24)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Geospatial Raster with Python</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 7 (Sept 28)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with R #1</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 8 (Sept 29)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with R #2</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 9 (Sept 30)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Building Programs with R #3</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 10 (Oct 1)</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Building Programs with R #4</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 10 (Oct 1)</h3>
    <table class="table table-striped">
      <tr> <td>15:00</td>  <td>Geospatial Raster with R</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
